@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

        <a href="javascript:document.getElementById('logoutForm').submit()" class="pull-left text-danger" title="logout"> <span class="fa fa-sign-out"></span>  </a>
    }
}
else
{
     @Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class= "fa fa-sign-in", title="Login" })
}
