
@{
    ViewBag.Title = "Dove";
}

<div >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.1065262044617!2d9.71314631593488!3d45.467657979100956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478138ec380239a7%3A0x7a992b28e8a98b8e!2sVia+Roma%2C+26%2C+26010+Castel+Gabbiano+CR!5e0!3m2!1sit!2sit!4v1455646109996" style="height:600px; width:100%; margin:auto; border-radius:15px; position:relative"></iframe>
</div>
